.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #112d42;
  }
  
  .logo img {
    width: 60px;
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #66d9e8;
  }
  