/* src/Home.css */
/* body {
  background-color: rgb(57, 32, 32);
  color: #e9e8e8;
  font-family: 'Courier New', Courier, monospace;
} */

.home-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid #00ff00;
  padding: 20px;
  box-shadow: 0 0 15px #00ff00;
  margin-top: 20px;
}

.shutdown-screen {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: red;
  font-size: 2rem;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
